@inject AppDbContext context
@{
    ViewBag.Title = "Quản lý sản phẩm";
    var brands = ViewBag.Brands as List<Brand>;
    var categories = ViewBag.Categories as List<Category>;
    var products = ViewBag.Products as List<Product>;
}
<a asp-controller="ProductsManager" asp-action="Create" class="btn btn-primary mb-3"><i class="fa fa-plus"></i> Thêm sản phẩm</a>
<table class="table table-hover table-responsive table-bordered display w-100 d-block d-md-table" id="productsTable">
    <thead>
        <tr class="thead-dark">
            <th>Tên</th>
            <th>Hình ảnh</th>
            <th>Thương hiệu</th>
            <th>Thông số kỹ thuật</th>
            <th>Giá</th>
            <th>Tồn kho</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>
                    <a asp-controller="ProductsManager" asp-action="Edit" asp-route-id="@product.ProductId">@product.Name</a>
                </td>
                @{
                    var images = (from e in context.Images
                                  where e.ProductId == product.ProductId
                                  select new Image()
                                  {
                                      ImageName = e.ImageName
                                  }).ToList();
                }
                <td>
                    @foreach (var image in images)
                    {
                        <a href="~/images/products/@image.ImageName" data-toggle="lightbox" data-gallery="@product.ProductId" data-title="@product.Name">
                            <img src="~/images/products/@image.ImageName" height="50" class="mx-1 my-1" />
                        </a>
                    }
                </td>
                @{
                    var brand = (from e in context.Brands
                                 where e.BrandId == product.BrandId
                                 select new Brand()
                                 {
                                     BrandId = e.BrandId,
                                     Name = e.Name
                                 }).ToList().FirstOrDefault().Name;
                }
                <td>@brand</td>
                <td>
                    <ul>
                        <li>Màn hình: @product.Screen</li>
                        <li>OS: @product.OS</li>
                        <li>CPU: @product.CPU</li>
                        <li>Camera trước: @product.FrontCamera</li>
                        <li>Camera sau: @product.RearCamera</li>
                        <li>Ram: @product.Ram</li>
                        <li>Rom: @product.Rom</li>
                    </ul>
                </td>
                <td>@product.Price.ToString("#,##0") ₫</td>
                <td>@product.Remain</td>
                <td>
                    <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.ProductId" title="Xem sản phẩm trên giao diện người dùng" target="_blank"><i class="far fa-eye"></i></a>
                    <a asp-controller="ProductsManager" asp-action="Edit" asp-route-id="@product.ProductId" title="Chỉnh sửa"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section lightboxjs{
    <environment include="Development">
        <script src="~/lib/ekko-lightbox/ekko-lightbox.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    </environment>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
}
@section datatablejs{
    <environment include="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $('#productsTable').DataTable();
        });
    </script>
}
@section datatablecss{
    <environment include="Development">
        <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    </environment>
}
@section lightboxcss{
    <environment include="Development">
        <link href="~/lib/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet" />
    </environment>
}