@inject AppDbContext context
@model List<Product>
@{
    ViewBag.Title = $"Danh mục {ViewBag.title}";
    var brands = ViewBag.Brands as IEnumerable<Brand>;
    var categories = ViewBag.Categories as IEnumerable<Category>;
    var id = ViewBag.CategoryId;
    var page = (int)ViewBag.Page;
    var count = (int)ViewBag.Count;
    var pages = count / 12 + (count % 12 == 0 ? 0 : 1);

}
<h5 class="text-center text-light bg-primary rounded py-2">@ViewBag.Title</h5>
<div class="row">
    @foreach (var product in Model)
    {
    <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2 col-6 card-group">
        <div class="card rounded my-3 bg-transparent py-2">
            <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.ProductId">
                @{
                    var productImages = (from e in context.Images
                                         where e.ProductId == product.ProductId
                                         select e).ToList();
                    if (productImages.Count != 0)
                    {
                        <img src="~/images/products/@productImages[0].ImageName" alt="@product.Name" style="height:150px; max-width:140px;" class="mx-auto d-block">
                    }
                }
            </a>
            <h6 class="card-body text-center">
                <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.ProductId" class="card-link">
                    @product.Name
                </a>
            </h6>
            <h6 class="card-footer text-center text-danger bg-transparent">
                @product.Price.ToString("#,##0") ₫
            </h6>
        </div>
    </div>
    }
</div>

@if (pages > 1)
{
<nav aria-label="Pages Navigation">
    <ul class="pagination justify-content-center">
        @if (pages <= 5)
        {
            for (int i = 1; i <= pages; i++)
            {
                if (page != i)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="Category" asp-route-id="@id" asp-route-page="@i">@i</a>
                    </li>
                }

                if (page == i)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">@i</a>
                    </li>
                }
            }
        }

        else
        {
            @*2 trang đầu*@
        if (page > 3)
        {
                <li class="page-item">
                    <a class="page-link" asp-controller="Home" asp-action="Category" asp-route-id="@id" asp-route-page="1">Trang đầu</a>
                </li>
        }

        if (page > 3)
        {
                <li class="page-item">
                    <a class="page-link" asp-controller="Home" asp-action="Category" asp-route-id="@id" asp-route-page="@(page - 1)">Trang trước</a>
                </li>
            }

            if (page <= 3)
            {
                for (int i = 1; i <= 5; i++)
                {
                    if (page != i)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Category" asp-route-id="@id" asp-route-page="@i">@i</a>
                        </li>
                    }

                    if (page == i)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">@i</a>
                        </li>
                    }
                }
            }

            if (page > 3 && page < pages - 2)
            {
                for (int i = page - 2; i <= page + 2; i++)
                {
                    if (page != i)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Category" asp-route-id="@id" asp-route-page="@i">@i</a>
                        </li>
                    }

                    if (page == i)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">@i</a>
                        </li>
                    }
                }
            }


            if (page >= pages - 2)
            {
                for (int i = pages - 4; i <= pages; i++)
                {
                    if (page != i)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-controller="Home" asp-action="Category" asp-route-id="@id" asp-route-page="@i">@i</a>
                        </li>
                    }

                    if (page == i)
                    {
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">@i</a>
                        </li>
                    }
                }
            }

            @*2 trang cuối*@
        if (page < pages - 2)
        {
                <li class="page-item">
                    <a class="page-link" asp-controller="Home" asp-action="Category" asp-route-id="@id" asp-route-page="@(page + 1)">Trang tiếp</a>
                </li>
        }
        if (page < pages - 2)
        {
                <li class="page-item">
                    <a class="page-link" asp-controller="Home" asp-action="Category" asp-route-id="@id" asp-route-page="@pages">Trang cuối</a>
                </li>
            }
        }
    </ul>
</nav>
}