@inject AppDbContext context
@{
    var brands = ViewBag.Brands as List<Brand>;
    var categories = ViewBag.Categories as List<Category>;
    var products = ViewBag.Products as List<Product>;
    var carouselImages = ViewBag.CarouselImages as List<CarouselImage>;

}
<div class="row my-3">
    <div class="col-lg-4 col-xl-3">
        <h5 class="bg-secondary rounded text-light py-2 text-center">Tìm kiếm <i class="fas fa-search"></i></h5>
        <form asp-controller="Home" asp-action="Search" class="form-group">
            <div class="list-group-item" id="searchbox">
                <input type="text" name="keyWord" placeholder="Từ khoá" class="form-control" id="keyWord">
            </div>
            <div class="list-group-item">
                <select name="categoryId" class="custom-select form-control" id="categoryId">
                    <option value="">Chọn danh mục</option>
                    @if (categories.Any() && categories.Count() > 0)
                    {
                        foreach (var ctg in categories)
                        {
                            <option value="@ctg.CategoryId">@ctg.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="list-group-item">
                <select name="brandId" class="custom-select form-control" id="brandId">
                    <option value="">Chọn thương hiệu</option>
                    @if (brands.Any() && brands.Count() > 0)
                    {
                        foreach (var brand in brands)
                        {
                            <option value="@brand.BrandId">@brand.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="list-group-item">
                <h5>Mức giá:</h5>

                <p>
                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    <input hidden name="minPrice" id="minPrice" />
                    <input hidden name="maxPrice" id="maxPrice" />
                </p>

                <div id="slider-range"></div>
            </div>
            <div class="list-group-item">
                <select name="sortByPrice" class="custom-select form-control" id="sortByPrice">
                    <option value="">Sắp xếp theo giá</option>
                    <option value="asc">Tăng dần</option>
                    <option value="desc">Giảm dần</option>
                </select>
            </div>
            <div class="list-group-item text-center">
                <input class="btn btn-primary" type="submit" value="Tìm kiếm" />
            </div>
        </form>
    </div>

    <div class="col-lg-8 col-xl-9">
        @if (carouselImages != null)
        {
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    @for (int i = 0; i < carouselImages.Count; i++)
                    {
                        if (i == 0)
                        {
                            <li data-target="#demo" data-slide-to="@i" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#demo" data-slide-to="@i"></li>
                        }
                    }
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    @for (int i = 0; i < carouselImages.Count; i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">
                                <img src="~/images/carousel/@carouselImages[i].Name" style="max-width:100%; height:475px;">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src="~/images/carousel/@carouselImages[i].Name" style="max-width:100%; height:475px;">
                            </div>
                        }
                    }
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        }
    </div>
</div>


@foreach (var category in categories)
{
    <h5 class="text-light bg-primary rounded text-center"><a asp-controller="Home" asp-action="Category" asp-route-id="@category.CategoryId" class="nav-link text-light">@category.Name</a></h5>
    <div class="row">
        @{
            var productInCategory = (from e in products
                               where e.CategoryId == category.CategoryId && e.Remain > 0
                               select e).Take(12);
        }

        @foreach (var product in productInCategory)
        {
            <div class="col-md-4 col-lg-3 col-sm-6 col-xl-2 col-6 card-group">
                <div class="card rounded my-3 bg-transparent py-2">
                    <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.ProductId">
                        @{
                            var productImages = (from e in context.Images
                                                 where e.ProductId == product.ProductId
                                                 select e).ToList();
                            if (productImages.Count != 0)
                            {
                                <img src="~/images/products/@productImages[0].ImageName" alt="@product.Name" style="height:150px; max-width:90%;" class="mx-auto d-block">
                            }
                        }
                    </a>
                    <h6 class="card-body text-center">
                        <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.ProductId" class="card-link">
                            @product.Name
                        </a>
                    </h6>
                    <h6 class="card-footer text-center text-danger bg-transparent">
                        @product.Price.ToString("#,##0") ₫
                    </h6>
                </div>
            </div>
        }
    </div>
}