@inject AppDbContext context;
@model ProductDetailViewModel
@{
    var brands = ViewBag.Brands as List<Brand>;
    var categories = ViewBag.Categories as List<Category>;
    var brand = ViewBag.Brand;
    var categorie = ViewBag.Category;
    var images = ViewBag.Images as List<Image>;
    var relatedProducts = ViewBag.RelatedProducts as IEnumerable<Product>;
    ViewBag.Title = $"{Model.CategoryName} {Model.BrandName} {@Model.Name} ({@Model.Ram} GB, {@Model.Rom} GB)";
}
<div class="row">
    <h2>@ViewBag.Title</h2>
    @if (User.IsInRole("Admin"))
    {
        <div>
            &nbsp;<a asp-controller="ProductsManager" asp-action="Edit" asp-route-id="@Model.ProductId"><i class="fas fa-edit"></i></a>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-5 text-center my-auto">
        @{
            if (images.Count != 0)
            {
                <div>
                    <a href="~/images/products/@images[0].ImageName" data-toggle="lightbox" data-gallery="productImages" data-title="@Model.Name hình 1">
                        <img src="~/images/products/@images[0].ImageName" class="img-fluid my-3" style="max-height:450px; max-width:100%" />
                    </a>
                </div>
                <div class="row">
                    <div class="mx-auto">
                        @for (int i = 1; i < images.Count; i++)
                        {
                            <a class="my-2 mx-1" href="~/images/products/@images[i].ImageName" data-toggle="lightbox" data-gallery="productImages" data-title="@Model.Name hình @(i + 1)">
                                <img src="~/images/products/@images[i].ImageName" height="60" />
                            </a>
                        }
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-7">
                <h3 class="text-danger my-3">@Model.Price.ToString("#,##0") ₫</h3>
                <p class="text-primary">Bạn đang xem phiên bản: @Model.Ram GB/@Model.Rom GB</p>
            </div>
            <div class="col-md-5 text-center my-3">
                @{
                    if (Model.Remain != 0)
                    {
                        <a class="btn btn-warning p-3" asp-controller="Order" asp-action="Buy" asp-route-id="@Model.ProductId">MUA NGAY! <i class="fas fa-cart-plus"></i></a>
                    }
                    else
                    {
                        <div class="btn btn-secondary p-3">Hết hàng!</div>
                    }
                }
            </div>
        </div>
        <h4>Thông số kỹ thuật:</h4>
        <hr />
        <div class="row">
            <div class="col-5">
                Màn hình:
            </div>
            <div class="col-7">
                @Model.Screen
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-5">
                Hệ điều hành:
            </div>
            <div class="col-7">
                @Model.OS
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-5">
                Camera sau:
            </div>
            <div class="col-7">
                @Model.RearCamera
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-5">
                Camera trước:
            </div>
            <div class="col-7">
                @Model.FrontCamera
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-5">
                CPU:
            </div>
            <div class="col-7">
                @Model.CPU
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-5">
                Ram:
            </div>
            <div class="col-7">
                @Model.Ram GB
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-5">
                Bộ nhớ trong:
            </div>
            <div class="col-7">
                @Model.Rom GB
            </div>
        </div>
        <hr />
    </div>
</div>
<div class="row my-3">
    <div class="col-xl-8 col-lg-7 mb-3">
        @Html.Raw(Model.Description)
    </div>
    <div class="col-xl-4 col-lg-5">
        <h5 class="bg-warning rounded text-center mt-1 py-2">Tìm kiếm <i class="fas fa-search"></i></h5>
        <form asp-controller="Home" asp-action="Search" class="form-group">
            <div class="list-group-item" id="searchbox">
                <input type="text" name="keyWord" placeholder="Từ khoá" class="form-control" id="keyWord">
            </div>
            <div class="list-group-item">
                <select name="categoryId" class="custom-select form-control" id="categoryId">
                    <option value="">Chọn danh mục</option>
                    @if (categories.Any() && categories.Count() > 0)
                    {
                        foreach (var ctg in categories)
                        {
                            <option value="@ctg.CategoryId">@ctg.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="list-group-item">
                <select name="brandId" class="custom-select form-control" id="brandId">
                    <option value="">Chọn thương hiệu</option>
                    @if (brands.Any() && brands.Count() > 0)
                    {
                        foreach (var item in brands)
                        {
                            <option value="@item.BrandId">@item.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="list-group-item">
                <h5>Mức giá:</h5>

                <p>
                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                    <input hidden name="minPrice" id="minPrice" />
                    <input hidden name="maxPrice" id="maxPrice" />
                </p>

                <div id="slider-range"></div>
            </div>
            <div class="list-group-item">
                <select name="sortByPrice" class="custom-select form-control" id="sortByPrice">
                    <option value="">Sắp xếp theo giá</option>
                    <option value="asc">Tăng dần</option>
                    <option value="desc">Giảm dần</option>
                </select>
            </div>
            <div class="list-group-item text-center">
                <input class="btn btn-primary" type="submit" value="Tìm kiếm" />
            </div>
        </form>
        <h5 class="bg-warning rounded text-center mt-1 py-2">Có thể bạn sẽ thích?</h5>
        @if (relatedProducts != null)
        {
            <div class="row">
                @foreach (var product in relatedProducts)
                {
                    <div class="col-sm-6 col-12 card-group">
                        <div class="card rounded my-3 bg-transparent py-2">
                            <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.ProductId">
                                @{
                                    var productImages = (from e in context.Images
                                                         where e.ProductId == product.ProductId
                                                         select e).ToList();
                                    if (productImages != null)
                                    {
                                        <img src="~/images/products/@productImages[0].ImageName" alt="@product.Name" style="height:150px; max-width:90%;" class="mx-auto d-block">
                                    }
                                }
                            </a>
                            <h6 class="card-body text-center">
                                <a asp-controller="Home" asp-action="ViewProduct" asp-route-id="@product.ProductId" class="card-link">
                                    @product.Name
                                </a>
                            </h6>
                            <h6 class="card-footer text-center text-danger bg-transparent">
                                @product.Price.ToString("#,##0") ₫
                            </h6>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@section lightboxjs{
    <environment include="Development">
        <script src="~/lib/ekko-lightbox/ekko-lightbox.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    </environment>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
}
@section lightboxcss{
    <environment include="Development">
        <link href="~/lib/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet" />
    </environment>
}